<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.basic.dao.AttRCardWorkerDao">
    <!-- AttRCardWorker的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_AttRCardWorker_Map" type="com.cd.basic.pojo.domain.AttRCardWorker">
        <id column="ID" property="id" />
        <result column="WORKER_FK_CODE" property="workerFkCode" />
        <result column="CARD_FK_CODE" property="cardFkCode" />
        <result column="DEL_STATUS" property="delStatus" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="FK_CODE" property="fkCode" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:Att_R_Card_Worker的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="Att_R_Card_Worker_Column">
        Att_R_Card_Worker.ID as ID
        ,Att_R_Card_Worker.WORKER_FK_CODE as WORKER_FK_CODE
        ,Att_R_Card_Worker.CARD_FK_CODE as CARD_FK_CODE
        ,Att_R_Card_Worker.DEL_STATUS as DEL_STATUS
        ,Att_R_Card_Worker.UPDATE_TIME as UPDATE_TIME
        ,Att_R_Card_Worker.CREATE_TIME as CREATE_TIME
        ,Att_R_Card_Worker.FK_CODE as FK_CODE
    </sql>

    <!--获得类名为:AttRCardWorker对应的数据库表的数据总行数 -->
    <select id="getAttRCardWorkerRowCount" parameterType="com.cd.common.Assist" resultType="java.lang.Long">
        select count(ID) from Att_R_Card_Worker
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:AttRCardWorker对应数据库中表的数据集合 -->
    <select id="selectAttRCardWorker" parameterType="com.cd.common.Assist"  resultMap="result_AttRCardWorker_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="Att_R_Card_Worker_Column" /> 
            </otherwise>
        </choose>
        from Att_R_Card_Worker
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT ID as primary_key FROM Att_R_Card_Worker
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=Att_R_Card_Worker.ID
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个AttRCardWorker对象,以参数AttRCardWorker对象中不为空的属性作为条件进行查询-->
    <select id="selectAttRCardWorkerByObj" parameterType="com.cd.basic.pojo.domain.AttRCardWorker" resultMap="result_AttRCardWorker_Map">
        select 
            <include refid="Att_R_Card_Worker_Column" /> 
        from Att_R_Card_Worker
        <where>
            <if test="fkCode != null "> and Att_R_Card_Worker.FK_CODE = #{fkCode}</if>
            <if test="createTime != null "> and Att_R_Card_Worker.CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null "> and Att_R_Card_Worker.UPDATE_TIME = #{updateTime}</if>
            <if test="delStatus != null "> and Att_R_Card_Worker.DEL_STATUS = #{delStatus}</if>
            <if test="cardFkCode != null "> and Att_R_Card_Worker.CARD_FK_CODE = #{cardFkCode}</if>
            <if test="workerFkCode != null "> and Att_R_Card_Worker.WORKER_FK_CODE = #{workerFkCode}</if>
            <if test="id != null "> and Att_R_Card_Worker.ID = #{id}</if>
        </where>
    </select> 

    <!-- 通过AttRCardWorker的id获得对应数据库中表的数据对象-->
    <select id="selectAttRCardWorkerById" parameterType="java.lang.Long" resultMap="result_AttRCardWorker_Map">
        select 
            <include refid="Att_R_Card_Worker_Column" /> 
        from Att_R_Card_Worker
        where Att_R_Card_Worker.ID = #{id}
    </select> 

    <!-- 将AttRCardWorker插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertAttRCardWorker" parameterType="com.cd.basic.pojo.domain.AttRCardWorker">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_R_Card_Worker(ID,WORKER_FK_CODE,CARD_FK_CODE,DEL_STATUS,UPDATE_TIME,CREATE_TIME,FK_CODE) 
        values(#{id},#{workerFkCode},#{cardFkCode},#{delStatus},#{updateTime},#{createTime},#{fkCode})
    </insert>

    <!-- 将AttRCardWorker中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyAttRCardWorker" parameterType="com.cd.basic.pojo.domain.AttRCardWorker">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_R_Card_Worker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="workerFkCode != null">WORKER_FK_CODE,</if>
            <if test="cardFkCode != null">CARD_FK_CODE,</if>
            <if test="delStatus != null">DEL_STATUS,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="fkCode != null">FK_CODE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="workerFkCode != null"> #{workerFkCode},</if>
            <if test="cardFkCode != null"> #{cardFkCode},</if>
            <if test="delStatus != null"> #{delStatus},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="fkCode != null"> #{fkCode},</if>
        </trim>
    </insert>

    <!-- 将AttRCardWorker批量插入到对应数据库的表中-->
    <insert id="insertAttRCardWorkerByBatch" parameterType="ArrayList">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_R_Card_Worker(ID,WORKER_FK_CODE,CARD_FK_CODE,DEL_STATUS,UPDATE_TIME,CREATE_TIME,FK_CODE) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.workerFkCode},#{item.cardFkCode},#{item.delStatus},#{item.updateTime},#{item.createTime},#{item.fkCode})
        </foreach>
    </insert>

    <!-- 通过AttRCardWorker的id将数据库表中对应的数据删除-->
    <delete id="deleteAttRCardWorkerById" parameterType="java.lang.Long">
        delete from Att_R_Card_Worker
        where ID = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将AttRCardWorker对应的数据库表的数据删除-->
    <delete id="deleteAttRCardWorker" parameterType="com.cd.common.Assist">
        delete from Att_R_Card_Worker
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过AttRCardWorker的id将AttRCardWorker的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateAttRCardWorkerById" parameterType="com.cd.basic.pojo.domain.AttRCardWorker">
        update Att_R_Card_Worker set
            WORKER_FK_CODE=#{workerFkCode}
            ,CARD_FK_CODE=#{cardFkCode}
            ,DEL_STATUS=#{delStatus}
            ,UPDATE_TIME=#{updateTime}
            ,CREATE_TIME=#{createTime}
            ,FK_CODE=#{fkCode}
        where ID=#{id}
    </update>

    <!-- 通过AttRCardWorker的id将AttRCardWorker中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyAttRCardWorkerById" parameterType="com.cd.basic.pojo.domain.AttRCardWorker">
        update Att_R_Card_Worker
        <set>
            <if test="workerFkCode != null">
                WORKER_FK_CODE=#{workerFkCode},
            </if>
            <if test="cardFkCode != null">
                CARD_FK_CODE=#{cardFkCode},
            </if>
            <if test="delStatus != null">
                DEL_STATUS=#{delStatus},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="createTime != null">
                CREATE_TIME=#{createTime},
            </if>
            <if test="fkCode != null">
                FK_CODE=#{fkCode},
            </if>
        </set>
        where ID=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将AttRCardWorker中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateAttRCardWorker" parameterType="map">
        update Att_R_Card_Worker
        <set>
                ID=#{enti.id},
                WORKER_FK_CODE=#{enti.workerFkCode},
                CARD_FK_CODE=#{enti.cardFkCode},
                DEL_STATUS=#{enti.delStatus},
                UPDATE_TIME=#{enti.updateTime},
                CREATE_TIME=#{enti.createTime},
                FK_CODE=#{enti.fkCode},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将AttRCardWorker中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyAttRCardWorker" parameterType="map">
        update Att_R_Card_Worker
        <set>
            <if test="enti.id != null">
                ID=#{enti.id},
            </if>
            <if test="enti.workerFkCode != null">
                WORKER_FK_CODE=#{enti.workerFkCode},
            </if>
            <if test="enti.cardFkCode != null">
                CARD_FK_CODE=#{enti.cardFkCode},
            </if>
            <if test="enti.delStatus != null">
                DEL_STATUS=#{enti.delStatus},
            </if>
            <if test="enti.updateTime != null">
                UPDATE_TIME=#{enti.updateTime},
            </if>
            <if test="enti.createTime != null">
                CREATE_TIME=#{enti.createTime},
            </if>
            <if test="enti.fkCode != null">
                FK_CODE=#{enti.fkCode},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>