<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.basic.dao.AttSettingRestWorkerDao">
    <!-- AttSettingRestWorker的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_AttSettingRestWorker_Map" type="com.cd.basic.pojo.domain.AttSettingRestWorker">
        <id column="ID" property="id" />
        <result column="SETTING_FK_CODE" property="settingFkCode" />
        <result column="DEL_STATUS" property="delStatus" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REST_BIG_TIME" property="restBigTime" />
        <result column="REST_END_TIME" property="restEndTime" />
        <result column="FK_CODE" property="fkCode" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:Att_Setting_Rest_Worker的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="Att_Setting_Rest_Worker_Column">
        Att_Setting_Rest_Worker.ID as ID
        ,Att_Setting_Rest_Worker.SETTING_FK_CODE as SETTING_FK_CODE
        ,Att_Setting_Rest_Worker.DEL_STATUS as DEL_STATUS
        ,Att_Setting_Rest_Worker.CREATE_TIME as CREATE_TIME
        ,Att_Setting_Rest_Worker.UPDATE_TIME as UPDATE_TIME
        ,Att_Setting_Rest_Worker.REST_BIG_TIME as REST_BIG_TIME
        ,Att_Setting_Rest_Worker.REST_END_TIME as REST_END_TIME
        ,Att_Setting_Rest_Worker.FK_CODE as FK_CODE
    </sql>

    <!--获得类名为:AttSettingRestWorker对应的数据库表的数据总行数 -->
    <select id="getAttSettingRestWorkerRowCount" parameterType="com.cd.common.Assist" resultType="java.lang.Long">
        select count(ID) from Att_Setting_Rest_Worker
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:AttSettingRestWorker对应数据库中表的数据集合 -->
    <select id="selectAttSettingRestWorker" parameterType="com.cd.common.Assist"  resultMap="result_AttSettingRestWorker_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="Att_Setting_Rest_Worker_Column" /> 
            </otherwise>
        </choose>
        from Att_Setting_Rest_Worker
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT ID as primary_key FROM Att_Setting_Rest_Worker
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=Att_Setting_Rest_Worker.ID
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个AttSettingRestWorker对象,以参数AttSettingRestWorker对象中不为空的属性作为条件进行查询-->
    <select id="selectAttSettingRestWorkerByObj" parameterType="com.cd.basic.pojo.domain.AttSettingRestWorker" resultMap="result_AttSettingRestWorker_Map">
        select 
            <include refid="Att_Setting_Rest_Worker_Column" /> 
        from Att_Setting_Rest_Worker
        <where>
            <if test="fkCode != null "> and Att_Setting_Rest_Worker.FK_CODE = #{fkCode}</if>
            <if test="restEndTime != null "> and Att_Setting_Rest_Worker.REST_END_TIME = #{restEndTime}</if>
            <if test="restBigTime != null "> and Att_Setting_Rest_Worker.REST_BIG_TIME = #{restBigTime}</if>
            <if test="updateTime != null "> and Att_Setting_Rest_Worker.UPDATE_TIME = #{updateTime}</if>
            <if test="createTime != null "> and Att_Setting_Rest_Worker.CREATE_TIME = #{createTime}</if>
            <if test="delStatus != null "> and Att_Setting_Rest_Worker.DEL_STATUS = #{delStatus}</if>
            <if test="settingFkCode != null "> and Att_Setting_Rest_Worker.SETTING_FK_CODE = #{settingFkCode}</if>
            <if test="id != null "> and Att_Setting_Rest_Worker.ID = #{id}</if>
        </where>
    </select> 

    <!-- 通过AttSettingRestWorker的id获得对应数据库中表的数据对象-->
    <select id="selectAttSettingRestWorkerById" parameterType="java.lang.Long" resultMap="result_AttSettingRestWorker_Map">
        select 
            <include refid="Att_Setting_Rest_Worker_Column" /> 
        from Att_Setting_Rest_Worker
        where Att_Setting_Rest_Worker.ID = #{id}
    </select> 

    <!-- 将AttSettingRestWorker插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertAttSettingRestWorker" parameterType="com.cd.basic.pojo.domain.AttSettingRestWorker">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_Setting_Rest_Worker(ID,SETTING_FK_CODE,DEL_STATUS,CREATE_TIME,UPDATE_TIME,REST_BIG_TIME,REST_END_TIME,FK_CODE) 
        values(#{id},#{settingFkCode},#{delStatus},#{createTime},#{updateTime},#{restBigTime},#{restEndTime},#{fkCode})
    </insert>

    <!-- 将AttSettingRestWorker中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyAttSettingRestWorker" parameterType="com.cd.basic.pojo.domain.AttSettingRestWorker">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_Setting_Rest_Worker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="settingFkCode != null">SETTING_FK_CODE,</if>
            <if test="delStatus != null">DEL_STATUS,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="restBigTime != null">REST_BIG_TIME,</if>
            <if test="restEndTime != null">REST_END_TIME,</if>
            <if test="fkCode != null">FK_CODE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="settingFkCode != null"> #{settingFkCode},</if>
            <if test="delStatus != null"> #{delStatus},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="restBigTime != null"> #{restBigTime},</if>
            <if test="restEndTime != null"> #{restEndTime},</if>
            <if test="fkCode != null"> #{fkCode},</if>
        </trim>
    </insert>

    <!-- 将AttSettingRestWorker批量插入到对应数据库的表中-->
    <insert id="insertAttSettingRestWorkerByBatch" parameterType="ArrayList">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into Att_Setting_Rest_Worker(ID,SETTING_FK_CODE,DEL_STATUS,CREATE_TIME,UPDATE_TIME,REST_BIG_TIME,REST_END_TIME,FK_CODE) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.settingFkCode},#{item.delStatus},#{item.createTime},#{item.updateTime},#{item.restBigTime},#{item.restEndTime},#{item.fkCode})
        </foreach>
    </insert>

    <!-- 通过AttSettingRestWorker的id将数据库表中对应的数据删除-->
    <delete id="deleteAttSettingRestWorkerById" parameterType="java.lang.Long">
        delete from Att_Setting_Rest_Worker
        where ID = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将AttSettingRestWorker对应的数据库表的数据删除-->
    <delete id="deleteAttSettingRestWorker" parameterType="com.cd.common.Assist">
        delete from Att_Setting_Rest_Worker
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过AttSettingRestWorker的id将AttSettingRestWorker的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateAttSettingRestWorkerById" parameterType="com.cd.basic.pojo.domain.AttSettingRestWorker">
        update Att_Setting_Rest_Worker set
            SETTING_FK_CODE=#{settingFkCode}
            ,DEL_STATUS=#{delStatus}
            ,CREATE_TIME=#{createTime}
            ,UPDATE_TIME=#{updateTime}
            ,REST_BIG_TIME=#{restBigTime}
            ,REST_END_TIME=#{restEndTime}
            ,FK_CODE=#{fkCode}
        where ID=#{id}
    </update>

    <!-- 通过AttSettingRestWorker的id将AttSettingRestWorker中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyAttSettingRestWorkerById" parameterType="com.cd.basic.pojo.domain.AttSettingRestWorker">
        update Att_Setting_Rest_Worker
        <set>
            <if test="settingFkCode != null">
                SETTING_FK_CODE=#{settingFkCode},
            </if>
            <if test="delStatus != null">
                DEL_STATUS=#{delStatus},
            </if>
            <if test="createTime != null">
                CREATE_TIME=#{createTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="restBigTime != null">
                REST_BIG_TIME=#{restBigTime},
            </if>
            <if test="restEndTime != null">
                REST_END_TIME=#{restEndTime},
            </if>
            <if test="fkCode != null">
                FK_CODE=#{fkCode},
            </if>
        </set>
        where ID=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将AttSettingRestWorker中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateAttSettingRestWorker" parameterType="map">
        update Att_Setting_Rest_Worker
        <set>
                ID=#{enti.id},
                SETTING_FK_CODE=#{enti.settingFkCode},
                DEL_STATUS=#{enti.delStatus},
                CREATE_TIME=#{enti.createTime},
                UPDATE_TIME=#{enti.updateTime},
                REST_BIG_TIME=#{enti.restBigTime},
                REST_END_TIME=#{enti.restEndTime},
                FK_CODE=#{enti.fkCode},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将AttSettingRestWorker中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyAttSettingRestWorker" parameterType="map">
        update Att_Setting_Rest_Worker
        <set>
            <if test="enti.id != null">
                ID=#{enti.id},
            </if>
            <if test="enti.settingFkCode != null">
                SETTING_FK_CODE=#{enti.settingFkCode},
            </if>
            <if test="enti.delStatus != null">
                DEL_STATUS=#{enti.delStatus},
            </if>
            <if test="enti.createTime != null">
                CREATE_TIME=#{enti.createTime},
            </if>
            <if test="enti.updateTime != null">
                UPDATE_TIME=#{enti.updateTime},
            </if>
            <if test="enti.restBigTime != null">
                REST_BIG_TIME=#{enti.restBigTime},
            </if>
            <if test="enti.restEndTime != null">
                REST_END_TIME=#{enti.restEndTime},
            </if>
            <if test="enti.fkCode != null">
                FK_CODE=#{enti.fkCode},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>