<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.basic.dao.SchoolDao">
    <resultMap id="muchDataBasesRM" type="com.cd.basic.pojo.bo.BasicSchoolInforBo">
        <result property="schoolName" column="SCHOOL_NAME"/>
    </resultMap>

    <select id="muchDataBases" resultMap="muchDataBasesRM">
        SELECT SCHOOL_NAME FROM basic_school_infor WHERE basic_school_infor.ID = #{ID}
    </select>
</mapper>
